:root {
    --brand-green: rgb(128, 183, 65);
    --brand-grey: rgb(136, 136, 136);
    --border-grey: rgb(204, 204, 204);
    --border-grey-light: rgb(238, 238, 238);

    --tww-green: #80b741;
    --tww-dark-grey: #414444;
    --tww-medium-grey: #6d6d6d;
    --tww-medium-light-grey: #a8a8a8;
    --tww-light-grey: #ddddde;
    --tww-beige: #dcd4cb;

    --tww-white: white;

    --black: rgb(0, 0, 0);
    --red: rgb(153, 27, 27);

    --active: rgb(220, 252, 231);
    --active-alt: rgb(22, 101, 52);
    --canceled: var(--red);
    --pending: rgb(255, 255, 0);
}

/* helpers */
.error-message {
    color: var(--red);
    padding: 10px;
    background-color: rgba(255,0,0,.35);
    border-radius: 4px;
    margin: 10px 0;
    font-size: 16px;
    line-height: 28px;
}

.success-message {
    color: var(--tww-green);
    padding: 10px;
    background-color: rgba(128, 183, 65, .55);
    border-radius: 4px;
    margin: 10px 0;
    font-size: 16px;
    line-height: 28px;
}

.error-message p,
.success-message p {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.tww-input-group {
    margin-bottom: 21px;
    display: flex;
}

.tww-input-group input[type=email],
.tww-input-group input[type=phone],
.tww-input-group input[type=number],
.tww-input-group input[type=text] {
    color: black;
    padding: 10px;
    font-size: 14px;
    line-height: 24px;
    border-radius: 4px;
    border: none;
    outline: none;
}

.tww-form-field {
    width: 100%;
}

.tww-registration-error {
    display: block;
    color: #eb1c26;
    padding-left: 5px;
    margin-bottom: 7px;
}

.tww-form-registration input.invalid {
    border: 1px solid rgba(255, 8, 8, 0.992);
}

button.btn-tww-registration div#tww-plus-button-loader svg {
    margin-right: 10px;
    width: 28px !important;
    height: 28px !important;
}

.button-loader-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.tww-hide-password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.tww-negative-action {
    color: var(--red);
    background-color: transparent;
    font-size: 13px;
    display: flex;
    align-items: center;
}

.tww-negative-action span img.loadinggif,
.tww-negative-action img.loadinggif,
img.loadinggif {
    margin-right: 10px;
    margin-left: 10px;
    width: 20px !important;
    height: 20px !important;
}

body input#tww-plus-email::placeholder {
    color: var(--tww-medium-grey) !important;
}

.tww-password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.tww-plus-password-eye-btn {
    position: absolute;
    right: 0;
    cursor: pointer;
    background: transparent !important;
    outline: none !important;
    border: 0 !important;
    padding: 0 20px;
    color: var(--tww-dark-grey) !important;
}